[Unit]
Description=MediaPlayer
Requires=mpd.service
After=mpd.service

[Service]
Type=forking
ExecStart=/opt/mediaplayer/run_systemd.sh

[Install]
WantedBy=multi-user.target
