{% extends "page.twig" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">

            <img src="{{ baseUrl }}/images/mediaplayer240.png" class="pull-left">
            <p>&nbsp;</p>
            <h1>MediaPlayer</h1>
            <p>The Java Based Open Home UPnP Media Renderer!</p>

        </div>
    </div>

    <div class="container">
        {{ content|raw }}
    </div>

{% endblock %}