<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MediaPlayer - Open Home Java Renderer</title>
    </head>
    <body>
        {% block content %}

            {{ content|raw }}

        {% endblock %}
    </body>
</html>